<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} IP</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>

<body>
    <h1>{{ title }} IP</h1>
    <span>{{result['ip']}}</span>
    <span>{{result['continent_name']}}</span>
    <span>{{result['country_code']}}</span>
    <span>{{result['city']}}</span><br>
        
    
</body>

</html>